.content-g.content-d
  / Title
  %h2 Meetup Schedule
  Times may changed based on audience and analytics.  Please sign up with our mailing list to remain current.
  / Border
  .border
  / Content
  .resume
    - @events.each do |event|
      .row
        .span3
          %h3
            = event.month_year
          .calendar
            %a{href: "/event/#{event.id}.ics"} iCal Download

        .span8
          .rcontent
            %h4
              = event.title
            %p
              = event.description
            %p
              Special Guest
              %span.skill
                %a{href: "#{event.guest_url}"}
                  = event.guest
      .border
    .row
      .span3
        %h3 To Be Announced
        Sign up ot be notified, when this guest is announced
      .span8
        .rcontent
          %h4 The next one...
          %p
            Please contact us if you'd like to talk!
          %p
            Special Guest
            %span.skill
              %a{href: ""} TBA
