/ Header
%a#homey{:name => "homey"}
%header
  .container
    .row
      .span12
        / Logo or Name section
        .logo
          = link_to image_tag("logo.png"), root_path
          %p.lsub RubyMotion Profressionals Meetup
    .row
      .span12
        .flexslider
          %ul.slides
            / Slide #1
            / Each slide should be enclosed inside <li> tag.
            %li
              = image_tag "photos/motion.png"
            / Slide #2
            /%li
            /  = image_tag "photos/s2.jpg"
            / Slide #3
            /%li
            /  = image_tag "photos/s1.jpg"
            / Slide #4
            /%li
            /  = image_tag "photos/s4.jpg"
            / Slide #5
            /%li
            /  = image_tag "photos/s5.jpg"
            / Slide #6
            /%li
            /  = image_tag "photos/s6.jpg"
            / Slide #7
            /%li
            /  = image_tag "photos/s7.jpg"
    .row
      .span10.offset1
        %h3 Hi,
        %p
          If you're a dev interested in keeping up to date with the ecosystem of RubyMotion, you found the right group.
          MotionMeetup is full of RubyMotion developers of all levels who want to keep up to date with the latest in RubyMotion
          technology, or just don't want to suck. 
/ navigation
.navigation
  .container
    .row
      .span12
        .navs
          / Each navigation link should be enclosed inside "box" class. Note down the markup. I am using jQuery Anchor plugin for sliding navigation (http://www.position-absolute.com/articles/better-html-anchor-a-jquery-script-to-slide-the-scrollbar/).
          / Navigation #1
          .box
            .box-y.box-d
              %a#content-y.anchorLink{:href => "#location"}
                %p.top Sign Up
                %p.bor
                %p.bot Join the Mailing List
            .clearfix
          / Navigation #2
          .box
            .box-g.box-d
              %a#content-g.anchorLink{:href => "#location"}
                %p.top Schedule
                %p.bor
                %p.bot The When, Where, and How
            .clearfix
          / Navigation #3
          .box
            .box-b.box-d
              %a#content-b.anchorLink{:href => "#location"}
                %p.top Archive
                %p.bor
                %p.bot Past Meetups
            .clearfix
          / Navigation #4
          .box
            .box-r.box-d
              %a#content-r.anchorLink{:href => "#location"}
                %p.top About
                %p.bor
                %p.bot Wut?
            .clearfix
/ Content
.content
  .container
    .row
      .span12
        / For navigation slider
        %a#location{:name => "location"}
      .span12
        / Each section should be enclosed inside the classes "content-X content-d". Where X denotes the background color.
        / Signup section with red background.
        = render "home/signup"
        / Schedule section with green background.
        = render "home/schedule"
        / Archive section with blue background
        = render "home/archive"
        / About section with yellow background
        = render "home/about"
.top-animation
  .container
    .row
      .span12
        / Sliding "UP" navigation arrow
        .top-goo
          %a.top-go.anchorLink{:href => "#homey"}
            %i.icon-circle-arrow-up
/ Footer
%footer
  .container
    .row
      .span4
        / Copyright info
        %p
          Copyright &copy; 
          = Time.now.year 
          _
          %a{:href => "http://www.IconoclastLabs.com"} Iconoclast Labs LLC
          _ 
          %a{href: "https://github.com/IconoclastLabs/MotionMeetup"} Site Source
      .span3.offset5
        / Social media icons
        .social
          %a.facebook{:href => "#"}
            %i.icon-facebook
          %a.twitter{:href => "#"}
            %i.icon-twitter
          %a.linkedin{:href => "#"}
            %i.icon-linkedin
          %a.google-plus{:href => "#"}
            %i.icon-google-plus
