%p#notice= notice

.media
  -# Hardcoding the image until I see about why Rails4 and Paperclip are not friends.

  %a.pull-left{href: '#', style: 'padding-right: 3%;'}
    = image_tag "archive_photos/week1.png", class: 'media-object img-polaroid'
  .media-body
    %h1.media-heading
      = @archive.title

    .media.archive_body
      :markdown
        #{@archive.body}
%p
  %b Published on:
  = @archive.publish_at.stamp('May 15th, 2013')

