%p#notice= notice

%p
  %b Name:
  = @archive.name
%p
  %b Graphical Asset:
  = @archive.asset
%p
  %b Title:
  = @archive.title
%p
  %b Body:
  .archive_body
    :markdown
      #{@archive.body}
%p
  %b Publish at:
  = @archive.publish_at

